---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import Introduccion from '../components/Introduccion.astro';
import Experiencia from '../components/Experiencia.astro';
import Proyectos from '../components/Proyectos.astro';
import Estudios from '../components/Estudios.astro';
import Lenguajes from '../components/Lenguajes.astro';
import Footer from '../components/Footer.astro'
---

<Layout title="Porfolio de Franco Orizonte" >
	<Header />
	<main class="flex flex-col items-center justify-center gap-4 mt-28 mx-4">

		<Introduccion />
		<Experiencia />		
		<Proyectos />
		<Estudios />
		
		<Lenguajes />
		
		
	</main>
	<Footer />
		
</Layout>


