---
import EstudioItem from "./EstudioItem.astro"
---
<section id="estudios" class="mt-40">
    <h3 class="mb-14 text-xl text-center font-bold text-red-400">Estudios Formales</h3>
    <ol class="items-left  flex flex-col sm:flex-row gap-4 sm:gap-0 mt-10 ">
            <EstudioItem lugar="Instituto Eugenio Pacelli" duracion="2013-2019" titulo="Bachiller de Ciencias Sociales"></EstudioItem>
            <EstudioItem lugar="Universidad Tecnologica Nacional" duracion="2021-2022" titulo="Ingenieria en Sistemas"></EstudioItem>
            <EstudioItem lugar="Universidad nacional de  Quilmes" duracion="2022 - Actualmente..." titulo="Licenciatura en Informatica"></EstudioItem>
    </ol>

</section>