---
import ExperienciaItem from "./ExperienciaItem.astro"
---

<section class="mt-40" id="experiencia">
    <h3 class="mb-4 text-xl font-bold text-red-400">Experiencias</h3>
    <ol class="relative border-s border-gray-200 dark:border-gray-700">                  
    
        <ExperienciaItem tiempo="Actualmente..." titulo="Ayudante de Materias" ubicacion="Universidad nacional de Quilmes" descripcion=`Desde Agosto de 2023 me desempeño como ayudante de la materia de Programacion con Objetos 1, haciendo trabajos de creacion de parciales y ejercicios nuevos, explicar resoluciones de ejercitacion y resolucion de consultas individuales de cadaestudiante ` descripcion2=" Desde Abril de 2024 me sume a ser el  primer ayudante  de la materia Programación Concurrente, haciendo trabajos de explicacion de ejercicios generales y resolver consultas individuales" />
        <ExperienciaItem tiempo="Enero 2020 - Marzo 2020" titulo="Practicante de verano " ubicacion="Cargill Argentina" descripcion="Relevamiento de laptops, servidores, headset. Informes referidos hacia la supervisora" />

    </ol>
</section>

