---
    import BtnNav from "./BtnNav.astro"
---


<footer >
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024. Franco Orizonte</span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <BtnNav href="#" title="Inicio"/>
        <BtnNav href="mailto:francoorizonte@gmail.com" title="Contacto"/>
    </ul>
    </div>
</footer>
