---
import BtnNav from '../components/BtnNav.astro'
---
<header class="flex justify-center mt-5 ">
  
    <nav class="flex gap-x-4 text-center font-medium text-xs fixed z-10 bg-blue-900 px-2.5 py-1.5 rounded-xl">
        <BtnNav href="/#experiencia" title="Experiencia"/>
        <BtnNav href="/#proyectos" title="Proyectos"/>
        <BtnNav href="/#sobre-mi" title="Sobre mi"/>
        <BtnNav href="mailto:francoorizonte@gmail.com" title="Contacto"/>
    </nav>
</header>