---
import ElementoDeContacto from './ElementoDeContacto.astro'
import Github from '../icons/Github.astro'
import Linkedin from '../icons/Linkedin.astro'
import Gmail from '../icons/Gmail.astro'
---

<main id="sobre-mi" class="flex flex-col  gap-5 ">
    <img src="/yo.webp" alt="miFoto" class="rounded-full w-12 h-8 "> 
    <h1 class="flex text-white items-center font-semibold text-4xl gap-4 "> 
        Hola, soy Franco Orizonte 
        <ElementoDeContacto href='https://www.linkedin.com/in/franco-orizonte-894a76221/' texto='Disponible para trabajar'></ElementoDeContacto>
    </h1>
    <h2>Estudiante de licenciatura en informatica en la Universidad Nacional de Quilmes. De Quilmes, Buenos Aires, Argentina</h2>
    <ul class="text-white flex gap-4 flex-grow">
        <ElementoDeContacto href='https://github.com/Francori8' texto='Github'> <Github/> </ElementoDeContacto> 
        <ElementoDeContacto href='https://www.linkedin.com/in/franco-orizonte-894a76221/' texto='Linkedin'> <Linkedin/> </ElementoDeContacto> 
        <ElementoDeContacto href='mailto:francoorizonte@gmail.com' texto='Gmail'> <Gmail/> </ElementoDeContacto> 
    </ul>
</main>


