---
    import HTML from '../icons/HTML.astro'
    import CSS from '../icons/CSS.astro'
    import JAVASCRIPT from '../icons/JAVASCRIPT.astro'
    import JAVA from '../icons/JAVA.astro'
    import HASKELL from '../icons/HASKELL.astro'
    import SMALLTALK from '../icons/SMALLTALK.astro'
---



	<section class="flex flex-col gap-5 mb-10">
			<h2 class="text-xl text-red-500">Tecnologias conocidas</h2>
      <div class="flex gap-5">
        <HTML />
        <CSS />
        <JAVASCRIPT />
        <HASKELL />
        <SMALLTALK />
        <JAVA />
     </div>
	</section>





  
