---
    import HTML from '../icons/HTML.astro'
    import CSS from '../icons/CSS.astro'
    import JAVASCRIPT from '../icons/JAVASCRIPT.astro'
    import JAVA from '../icons/JAVA.astro'
    import HASKELL from '../icons/HASKELL.astro'
    import SMALLTALK from '../icons/SMALLTALK.astro'
---



<section class="flex flex-col gap-5 mt-32">
    <h3 class="mb-6 text-xl text-center font-bold text-red-400">Tecnologias conocidas</h3>
        <div class="flex gap-5 ">
            <HTML />
            <CSS />
            <JAVASCRIPT />
            <HASKELL />
            <SMALLTALK />
            <JAVA />
            
        </div>
</section>





  
